.conteiner {
  width: 1280px;
  margin: 0 auto;
}

.head-content {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.link-logo {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin-top: 63px;
  margin-bottom: 40px;
  width: 334px;
}

.logo2 {
  color: #4bcaff;
}

.nav-menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
}

.menu-btn {
  padding: 26px 38px 19px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  border-left: 1px solid white;
  cursor: pointer;
}

.empty-btn {
  border-left: 1px solid white;
}

.menu-btn:hover {
  background-color: #222f3a;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.side-menu {
  width: 344px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.side-menu-btn {
  font-family: "Roboto";
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  height: 81px;
}

.text-btn {
  padding-left: 44px;
  color: #35444f;
}

.side-menu-btn:hover {
  background-color: #dbdbdb;
  transition: 0.5s;
}

.side-menu-btn:hover .text-btn {
  transform: translateX(35px);
  color: black;
  transition: 0.5s;
}

section {
  display: flex;
  flex-direction: column;
}

.window-img {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  transition: transform 0.3s ease-in-out;
}

.window-img:hover .main-img {
  transform: scale(1.2);
}

p {
  width: 885px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.par1 {
  margin-top: 37px;
  margin-bottom: 34px;
}

.par2 {
  margin-bottom: 54px;
}

.footer-content {
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  padding: 0 40px;
}

.footer-menu {
  display: flex;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer-btn {
  font-family: "Roboto";
  font-size: 28px;
  padding-top: 21px;
  padding-right: 30px;
  color: #0c1927;
}

.footer-text {
  font-family: "Roboto";
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #0c1927;
}

.footer-btn:hover {
  text-decoration: underline #3181a6;
  color: #3181a6;
  cursor: pointer;
  transition: 0.3s;
}
